h2.ui.green.dividing.header
    i.user.icon
    | Login

.ui.huge.input.field
    label(for="email") E-mail
    input.huge(type="text" name="email" placeholder="E-mail" v-model="email")

.ui.huge.input.field
    label(for="password") Password
    input.huge(type="password" name="password" placeholder="Password" v-model="password")

.ui.submit.button Login