h3.ui.dividing.header Login

.field
    label(for="email") E-mail
    input(type="text" name="email" placeholder="E-mail" v-model="user.email" lazy)

.field
    label(for="password") Password
    input(type="password" name="password" placeholder="Password" v-model="user.password" lazy)

.ui.submit.button Login